<form action="{% url 'grupos' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h1>Grupos</h1></legend>
      {% if error_message %}
      <p class="error">{{ error_message }}</p>
      {% endif %}
      <label for="grupo">Nombre Grupo Contable:</label>
      <input type="text" name="grupo" />
      <br/>
      <input type="submit" value="Enviar" />
    </fieldset>
    </form>
<h1>{{titulo}}</h1>

<ul>
    {% for grupo in grupos%}
    <li>{{ grupo.grupo_contab }}</li>
    {% endfor %}
</ul>